body{
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #bdbdbd;
	font-family: 'Overpass', sans-serif;
	font-size: 250%;
}

#react-entry-point{
	background-color: #ffffff;
}

#react-entry-point{
	border-style: solid;
	border-width:1px;
	border-color: #141414;
}

#page-content{
	padding:10px;
}

._dash-undo-redo{
	display: none;
}

h1{
	background-color: #29668f;
	padding-left: 10px;
	margin-top:0px;
	padding-top:10px;
	padding-bottom:10px;
	color: #ffffff;
	-webkit-text-stroke: 1px #000000;
}

.nav-button {
	-moz-box-shadow: 0px 11px 16px -6px #276873;
	-webkit-box-shadow: 0px 11px 16px -6px #276873;
	box-shadow: 0px 11px 16px -6px #276873;
	background-color:#21434f;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:2px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:20px;
	font-weight:bold;
	padding:25px 55px;
	text-decoration:none;
	text-shadow:0px 3px 1px #3d768a;
}

.nav-button:hover {
	background-color:#408c99;
}
.nav-button:active {
	position:relative;
	top:1px;
}